<include file="public/head" />
<style>
	html,body,.content{
		height:100%
	}
	.container{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.panel{
		width: 20%;
		margin:20px 5%;
	}
	.topBox{
		display: none;
		position: absolute;
		top: 0;left: 0;
		z-index: 10;
		height: 100%;
		width: 100%;
		margin:0;
		text-align: center;
	}
</style>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header"><a href="__APP__/Home/Student" class="navbar-brand">考试系统&nbsp;<span class="label label-info">学生版</span></a></div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="__CONTROLLER__/logout">注销</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container examBox">
		<volist name="examList" id="ex">
			<if condition="$ex['isdone'] eq 0">
			<div class="panel panel-info">
			<else />
			<div class="panel panel-success">
			</if>
				<div class="panel-heading"><h3 class="panel-title">{$ex.name}</h3></div>
				<div class="panel-body">
					<p>试题数量：<span>{$ex.num}</span></p>
					<if condition="$ex['isdone'] eq 0">
					<p><br></p>
					<button class="btn btn-info" onclick="createPaper({$ex.id});">进入考试</button>
					<else />
					<p>成绩：<span>{$ex.score}</span></p>
					<button class="btn btn-success">查看成绩</button>
					</if>
				</div>
			</div>
		</volist>
	</div>
	<div class="jumbotron topBox">
		<div class="container">
			<h1>正在生成试卷，请稍后...</h1>
		</div>
	</div>
	<script type="text/javascript">
	function createPaper(examid){
		$('.topBox').show();
		$.ajax({
			url:'__APP__/Home/Student/createPaper',
			type:'POST',
			data:{examid:examid},
			success:function(data,status){
			}
		});
	}
	</script>
</body>
</html>